/* You can add global styles to this file, and also import other style files */
button{
    background-color: #efefef;
    border:none;
    padding:1em;
    border-radius:3px;
    cursor:pointer;
    font-weight:bold;
    margin-right:14px;
}